/* styles for index.html */

/* hero image (home page specific) */
#intro {
    position: relative;
    color: var(--white);
    text-align: center;
}
#hero-image {
    height: 275px;
    width: 100%;
    object-fit: cover;
}
#hero-text-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero-text {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 48px;
    padding: 10px;
}
#hero-subtext {
    font-size: 20px;
    padding: 10px;
}
form.nosubmit {
    border: none;
    padding: 0;
    position: absolute;
    z-index: 500;
    top: 310px;
    left: 50%;
    transform: translate(-50%);
}
input.nosubmit {
    margin: 12px;
    font-size: 16px;
    border-radius: 6px;
    color: var(--black);
    width: 700px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 4px 18px 40px;
    background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat 13px center;
    background-color: var(--white);
}
@media (max-width: 700px) {
    input.nosubmit {
        width: 400px;
    }
}
input.nosubmit::placeholder {
    color: var(--gray);
}

/* intro images */
.who-are-we {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.7fr 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "intro-image question-text"
        "intro-image answer-text"
        "intro-image answer-text";
    margin: 50px 0px;
}
.intro-image {
    grid-area: intro-image;
    max-width: 450px;
}

/* what can I do? */
.what-can-i-do {
    display: flex;
    justify-content: space-between;
}
.intro-card {
    border: 2px solid var(--teal-main);
    width: 30%;
    text-align: center;
    margin-top: 20px;
    padding: 24px;
    border-radius: 12px;
}
.intro-card h1 {
    font-size: 30px;
}
.intro-card p {
    margin: 20px 0px;
}
.badge {
    height: 57px;
    margin: 20px 0px;
}
.button {
    background-color: var(--coral-main);
    border-radius: 12px;
    width: 60%;
    margin: auto;
}
.button p {
    padding: 10px;
}
.button:hover {
    background-color: var(--coral-light);
}

/* fake image caurousel */
.carousel-images {
    width: 100%;
}
