.message-container {
    margin: 50px 0px;
}
.messages-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.messages-heading-right {
    display: flex;
    align-items: center;
}
.main-message-section {
    margin: 20px 0px;
    display: flex;
}
.message-tabs {
    width: 250px;
    margin-right: 20px;
}
.message-tabs p {
    background-color: var(--white);
    padding: 15px;
    border-radius: 6px;
}
.message-tabs p:hover {
    background-color: var(--light-gray);
}
.message-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.single-message {
    display: grid;
    grid-template-columns: 0.2fr 2.3fr 0.5fr;
    grid-template-rows: 0.6fr 0.8fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "message-avatar message-name message-time"
        "message-avatar message-tag message-time";
    height: 80px;
    width: 100%;

    border-top: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    padding: 10px;
    border-radius: 0px;
}
.single-message-top {
    border-radius: 6px 6px 0px 0px;
}
.single-message-bottom {
    border-radius: 0px 0px 6px 6px;
    border-bottom: 1px solid var(--light-gray);
}

.message-avatar {
    grid-area: message-avatar;
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}

.message-name {
    grid-area: message-name;
    align-self: center;
    margin-left: 10px;
}

.message-tag {
    grid-area: message-tag;
    align-self: center;
    margin-left: 10px;
}

.message-time {
    grid-area: message-time;
    align-self: center;
}
.message-time p {
    color: var(--gray);
}
