/* message specific css */

/* message header */
#message_container {
    margin: 50px 0px;
}
#message_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#message_heading_right {
    display: flex;
    align-items: center;
}
#message_heading_right a {
    padding-right: 20px;
}
/* message body */
#message_body {
    margin: 20px 0px;
    display: flex;
}
#message_tab {
    width: 250px;
    margin-right: 20px;
}
#message_tab p {
    background-color: var(--white);
    padding: 15px;
    border-radius: 6px;
}
#message_tab p:hover {
    background-color: var(--light-gray);
}
#message_list_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* individual message */
.message {
    display: grid;
    grid-template-columns: 0.2fr 2.3fr 0.5fr;
    grid-template-rows: 0.6fr 0.8fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "message-avatar message-name message-time"
        "message-avatar message-tag message-time";
    height: 80px;
    width: 100%;

    border-top: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    padding: 10px;
    border-radius: 0px;
}
.message_top {
    border-radius: 6px 6px 0px 0px;
}
.message_bottom {
    border-radius: 0px 0px 6px 6px;
    border-bottom: 1px solid var(--light-gray);
}
#avatar {
    grid-area: message-avatar;
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}
#name {
    grid-area: message-name;
    align-self: center;
    margin-left: 10px;
}
#tag {
    grid-area: message-tag;
    align-self: center;
    margin-left: 10px;
}
#time {
    grid-area: message-time;
    align-self: center;
}
#time p {
    color: var(--gray);
}
