/* GLOBAL STYLESHEET */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400,700;1,700&display=swap");

/*
font-family: 'Lato', sans-serif;
font-weight: 700;   
*/

/* Global Colors */
:root {
    --teal-main: #016f75; /* var(--teal-main); */
    --teal-light: #02a8b1; /* var(--teal-light); */
    --coral-main: #f48d79; /* var(--coral-main); */
    --coral-light: #f7afa1; /* var(--coral-light); */
    --black: #000000; /* var(--black); */
    --gray: #808080; /* var(--gray); */
    --light-gray: #bfbfbf; /* var(--light-gray); */
    --white: #ffffff; /* var(--white); */
    --red: #ff0228; /* var(--red); */
}

/* Buttons */
.button_container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.teal_button {
    background-color: var(--teal-main);
    color: var(--white);
    border-radius: 5px;
    margin: 10px 0px;
    padding: 8px 20px;
}
.teal_button:hover {
    background-color: var(--teal-light);
}
.coral_button {
    background-color: var(--coral-main);
    color: var(--white);
    border-radius: 5px;
    margin: 10px 0px;
    padding: 8px 20px;
}
.coral_button:hover {
    background-color: var(--coral-light);
}
.gray_button {
    background-color: var(--light-gray);
    color: var(--black);
    border-radius: 5px;
    margin: 10px 0px;
    padding: 8px 20px;
}
.gray_button:hover {
    background-color: var(--gray);
}

/* Tags */
.tag_container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.teal_tag {
    background-color: var(--teal-main);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 14px;
}
.coral_tag {
    background-color: var(--coral-main);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 14px;
}
.gray_tag {
    background-color: var(--light-gray);
    color: var(--black);
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 14px;
}

/* Badge */
.teal_badge {
    height: 57px;
    margin: 20px 0px;
}

/* Body styles */
body {
    font-family: "Inter", sans-serif;
}
main {
    margin: 0px 100px;
}
@media (max-width: 700px) {
    main {
        margin: 0px 10px;
    }
}

/* Form styling */
input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0px 16px 0px;
    border-radius: 4px;
    border: 1px solid var(--black);
    color: var(--black);
    background-color: var(--white);
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
    color: var(--gray);
}
select {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0px 16px 0px;
    border-radius: 4px;
    border: 1px solid var(--black);
    color: var(--black);
    background-color: var(--white);
}

/* Header */
header {
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1.5px solid var(--black);
}
.left_header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.right_header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.logo_header {
    height: 40px;
}
nav {
    margin: 0px 40px;
}
nav a {
    padding: 0px 10px;
    color: var(--gray);
}
nav a:hover {
    text-decoration: underline;
    color: var(--black);
}
.black_bell {
    height: 24px;
    padding: 0px 20px;
}
.avatar {
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* Hero image */
.hero {
    position: relative;
    color: var(--white);
    text-align: center;
}
.hero img {
    height: 275px;
    width: 100%;
    object-fit: cover;
}
.hero_text_container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero_title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 48px;
    padding: 10px;
}
.hero_subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    align-self: center;
}

/* Text headers */
.title_header {
    grid-area: question-text;
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
.title_line {
    border-bottom: 4px solid var(--coral-main);
    border-radius: 1.5px;
    margin-top: 12px;
    width: 100px;
}
.text_header {
    grid-area: answer-text;
    line-height: 24px;
}
.text_header p {
    padding: 10px 0px;
}

/* cards */
.card_container {
    display: flex;
    justify-content: space-between;
}
.card {
    border: 2px solid var(--teal-main);
    width: 30%;
    text-align: center;
    margin-top: 20px;
    padding: 24px;
    border-radius: 12px;
}
.card h2 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400; 
}
.card p {
    margin: 20px 0px;
}

/* Blue module */
.blue_module {
    margin: 60px 0px 0px 0px;
    background-color: var(--teal-main);
    width: 100%;
    padding: 50px 0px;
}
.blue_module .title_header,
.blue_module p {
    color: var(--white);
    padding: 0px 100px;
}
.blue_module p {
    padding: 16px 100px 32px;
}

/* accordion */ 
.accordion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.accordion_section {
    margin: 30px 20px 40px 20px;
    min-width: 450px;
}
.accordion_subheader {
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid var(--teal-main);
}
.accordion_content p {
    font-size: 16px;
    padding: 20px;
}
summary {
    list-style-type: none;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: var(--black);
    padding: 10px;
    outline: none;
    text-align: left;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid var(--teal-main);
}
details[open] summary ~ * {
    background-color: var(--light-gray);
}
details > summary::after {
    position: absolute;
    content: "<";
    right: 20px;
}
details[open] > summary::after {
    position: absolute;
    content: "∨";
    right: 20px;
}
details > summary::-webkit-details-marker {
    display: none;
}

/* Footer */
.footer_container {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    background: var(--coral-main);
    color: var(--black);
    width: 100%;
}
span {
    font-weight: 500;
}
.footer_column {
    display: flex;
    flex-direction: column;
}
.footer_column p {
    line-height: 24px;
    font-weight: 300;
}
.footer_social {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_social img {
    height: 35px;
}


/* CREATE A POST MODAL */ 
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: var(--black);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: var(--white);
    margin: 30px auto; /* 15% from the top and centered */
    padding: 30px;
    width: 900px; 
    border-radius: 16px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* animation for modals */ 
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.close_modal_img {
    width: 20px;
    float: right;
}
.close_modal:hover,
.close_modal:focus {
    text-decoration: none;
    cursor: pointer;
}
/* styles for post modal */
#center {
    display: flex;
    justify-content: center;
}
#post_container {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    grid-template-rows: 1fr 1.7fr 0.3fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "left right"
        "left right"
        "bottom bottom";
    justify-items: center;
    margin-top: 20px;
    max-width: 886px;
}
#left {
    grid-area: left;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#left img {
    max-width: 300px;
}
#post_buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px 10px;
}
#right {
    grid-area: right;
    min-width: 400px;
    float: left;
}
#bottom {
    grid-area: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottom p {
    color: var(--black);
    padding: 0px 30px;
}
#bottom p:hover {
    text-decoration: underline;
}
#post_buttons select {
    width: 150px;
}
/* post-specific styling */ 
#right textarea {
    height: 200px;
}


/* LOGIN MODAL */ 
.login_modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: var(--black);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.login_modal_content {
    background-color: var(--light-gray);
    margin: 30px auto; /* 15% from the top and centered */
    padding: 10px 30px;
    width: 450px;
    border-radius: 16px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

}
/* animation for modals */ 
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.login_close_modal_img {
    width: 20px;
}
.login_close_modal:hover,
.login_close_modal:focus {
    text-decoration: none;
    cursor: pointer;
}
/* modal styles */ 
#login_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 30px;
}
#login {
    border-radius: 12px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
}
#login_header {
    text-align: center;
    padding-bottom: 20px;
}
#login_header h1 {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding: 10px;
}

#red {
    color: var(--red);
}