/* styles for styleguide */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400,700;1,700&display=swap");

/*
font-family: 'Lato', sans-serif;
font-weight: 700;   
*/

/* Global Colors */
:root {
    --teal-main: #016f75; /* var(--teal-main); */
    --teal-light: #02a8b1; /* var(--teal-light); */
    --coral-main: #f48d79; /* var(--coral-main); */
    --coral-light: #f7afa1; /* var(--coral-light); */
    --black: #000000; /* var(--black); */
    --gray: #808080; /* var(--gray); */
    --light-gray: #bfbfbf; /* var(--light-gray); */
    --white: #ffffff; /* var(--white); */
    --red: #ff0228; /* var(--red); */
}

/* Global Styles */ 
body {
    font-family: "Inter", sans-serif;
}
main {
    margin-left: 250px;
    max-width: 1200px;
}

/* header */ 
nav {
    background-color: var(--light-gray);
    list-style-type: none;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 2px solid var(--black);
}
nav img {
    padding: 20px;
}
nav li a {
  display: block;
  color: var(--black);
  padding: 10px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: var(--coral-main)
}

/* hero section */ 
.hero {
    margin-left: 200px;
    position: relative;
    color: var(--white);
    text-align: center;
}
.hero img {
    height: 275px;
    object-fit: cover;
    width: 100%;

}
.hero_text_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero_title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 48px;
    padding: 10px;
}
.hero_subtitle {
    font-size: 20px;
    padding: 10px;
    align-self: center;
}

/* titles */
.title_header {
    margin: 30px 0px;
}
.title_header h1 {
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
.title_line {
    border-bottom: 4px solid var(--coral-main);
    border-radius: 1.5px;
    margin-top: 12px;
    width: 100px;
}

/* intro  */ 
.intro p {
    margin: 50px 0px;
}
.intro ul a {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;  
    line-height: 30px;
}
.intro ul a:hover {
    text-decoration: underline;
}

/* module */
.module {
    margin: 50px 0px;
    margin-right: 50px;
}
.module img {
    margin-top: 20px;
}

/* subtitle */ 
.subtitle_header {
    margin: 30px 0px;
}
.subtitle_header h1 {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
.subtitle_line {
    border-bottom: 4px solid var(--teal-main);
    border-radius: 1.5px;
    margin-top: 12px;
    width: 50px;
}

/* code block */
.code {
	display: block;
	max-height: 500px;
	width: 100%;
	margin: 20px 0;
	font-family: monospace;
	font-size: 13px;
	line-height: 23px;
	position: relative;
	overflow: auto;
    border-radius: 6px;
}
.code .numbers, .code .source { 
    float: left 
}
.code .numbers {
	padding: 10px;
	text-align: right
}
.code .source { padding: 10px 0 }
.code .source .line:nth-child(2n) { }
.code .source .line { padding: 0 10px }
.code .source .comment { font-style: italic }
.code .copy {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer
}
/* code styles light */
.code-style-light {
	color: var(--black);
	background-color: var(--white);
}
.code-style-light .numbers {
	color: var(--gray);
	background-color: var(--white);
}
.code-style-light .source .line:nth-child(2n) {background: var(--white)}
.code-style-light .source .comment {color: var(--red)}
/* code styles dark */
.code-style-dark {
	color: var(--white);
	background: var(--teal-main);
}
.code-style-dark .numbers {
	color: var(--light-gray);
	background: var(--teal-main);
}
.code-style-dark .source .line:nth-child(2n) {background: var(--teal-main)}
.code-style-dark .source .comment {color: var(--red)}
